<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.synccloud.app</string>
    <key>CFBundleName</key>
    <string>SyncCloud</string>
    <key>CFBundleDisplayName</key>
    <string>SyncCloud</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleExecutable</key>
    <string>SyncCloud</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>GoogleOAuthClientID</key>
    <string>YOUR_CLIENT_ID_HERE</string>
    <key>GoogleOAuthRedirectURI</key>
    <string>http://localhost:8080</string>
    <key>GoogleOAuthClientSecret</key>
    <string>YOUR_CLIENT_SECRET_HERE</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Fotoğraflarınızı Google Drive'a senkronize edebilmek için kütüphanenize erişmemiz gerekiyor.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Senkronizasyon durumlarını yönetmek için kütüphane erişimi gereklidir.</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
